.fullWidthHeight {
    height: 100%;
    width: 100%;
}

.vBoxes {
    display: flex;
    flex-direction: column;
}

.hBoxes {
    display: flex;
    flex-direction: row;
}

.verticallyAlign {
    @extend .vBoxes;
    justify-content: center
}

ul {
    list-style-type: none;
    margin: 0%;
    li {
        text-align: center;
        @extend .verticallyAlign;
    }
    height: 100%;
}
.clickableV2:hover {
    cursor: pointer;
}
.clickable:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
